{% comment %}
  Pagination Component
  Renders pagination controls for search and collection pages
  
  Parameters:
  - paginate: Paginate object
  - use_ajax: Boolean for AJAX pagination
{% endcomment %}

{% liquid
  assign use_ajax = use_ajax | default: false
  assign current_page = paginate.current_page
  assign total_pages = paginate.pages
  assign total_items = paginate.items
%}

{% if total_pages > 1 %}
  <nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
    <div class="pagination__info">
      <span class="pagination__text">
        {{ 'general.pagination.page' | t: current: current_page, total: total_pages }}
      </span>
    </div>

    <div class="pagination__controls">
      {% if paginate.previous %}
        <a 
          href="{{ paginate.previous.url }}" 
          class="pagination__link pagination__link--prev"
          {% if use_ajax %}data-ajax-pagination{% endif %}
          aria-label="{{ 'general.pagination.previous' | t }}"
        >
          {% render 'icons', icon: 'arrow-left', size: 16 %}
          <span class="pagination__link-text">{{ 'general.pagination.previous' | t }}</span>
        </a>
      {% else %}
        <span class="pagination__link pagination__link--prev pagination__link--disabled" aria-disabled="true">
          {% render 'icons', icon: 'arrow-left', size: 16 %}
          <span class="pagination__link-text">{{ 'general.pagination.previous' | t }}</span>
        </span>
      {% endif %}

      <div class="pagination__pages">
        {% for part in paginate.parts %}
          {% if part.is_link %}
            <a 
              href="{{ part.url }}" 
              class="pagination__page"
              {% if use_ajax %}data-ajax-pagination{% endif %}
              aria-label="{{ 'general.pagination.page' | t: current: part.title, total: total_pages }}"
            >
              {{ part.title }}
            </a>
          {% else %}
            {% if part.title == current_page %}
              <span class="pagination__page pagination__page--current" aria-current="page">
                {{ part.title }}
              </span>
            {% else %}
              <span class="pagination__page pagination__page--dots">
                {{ part.title }}
              </span>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>

      {% if paginate.next %}
        <a 
          href="{{ paginate.next.url }}" 
          class="pagination__link pagination__link--next"
          {% if use_ajax %}data-ajax-pagination{% endif %}
          aria-label="{{ 'general.pagination.next' | t }}"
        >
          <span class="pagination__link-text">{{ 'general.pagination.next' | t }}</span>
          {% render 'icons', icon: 'arrow-right', size: 16 %}
        </a>
      {% else %}
        <span class="pagination__link pagination__link--next pagination__link--disabled" aria-disabled="true">
          <span class="pagination__link-text">{{ 'general.pagination.next' | t }}</span>
          {% render 'icons', icon: 'arrow-right', size: 16 %}
        </span>
      {% endif %}
    </div>
  </nav>
{% endif %}
